@import 'compass/css3/transition';

[ui-view] {
	width: 100%;
}

[ui-view].ng-enter {
	@include single-transition(all, 0.2s, ease);
	position: absolute;
}

[ui-view].ng-enter {
	opacity: 0;
	left: 100%;
}

[ui-view].ng-enter.ng-enter-active {
	opacity: 1;
	left: 0;
}
