.edit-in-place {
  &.active {
    div {
      display: none;
    }
    textarea {
      display: inline-block;
    }
  }
  &.empty {
    div {
      min-height: 12px;
      border-left: 2px solid #b9b9b9;
    }
  }
  div {
    cursor: pointer;
  }
  textarea {
    display: none;
  }
}


