/* Custom page header */
.header {
    background: #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
