.chartbuilder-home {
  img {
    width: 100%;
  }
  .jumbotron {
    height: 100%;
    .dropdown {
      display: inline-block;
      h2 {
        min-width: 300px;
      }
      .dropdown-menu {
        width: 100%;
      }
    }
  }
}
