.sidebar {
  .chartbuilder-sidebar-group {
    background: #f8f8f8;
    padding: 0 0 10px;
    @include box-shadow(1px 1px 1px #e7e7e7);
    h2.select-dropdown {
      cursor: pointer;
      &:hover {
        color: $grey;
      }
    }
    .btn-chartbuilder-group {
      margin: 0 0 10px;
    }
    .chart-dropdown {
      position: relative;
      margin: 20px 0;
      .btn-chart-picker {
        @include button-variant(#3276b1, #FFF, #3276b1);
        text-align: left;
        font-weight: bold;
        width: 100%;
      }
    }
    .well {
      margin-top: 0;
    }
    textarea.paste-input {
      min-height: 180px;
      font-family: monospace;
    }
    .save-chart-group {
      border-top: 2px solid #e7e7e7;
      padding: 20px 0 10px;
      margin: 20px 0 0;
    }
  }
  .input-group {
    width: 100%;
    margin: 5px 0;
  }
  .chartbuilder-options {
    .panel-heading {
      padding: 15px 15px 0;
    }
    #collapse-advanced-options {
      .panel-body {
        padding: 0;
      }
    }
  }
  .dropdown-menu {
    width: 100%;
    > li {
      position: relative;
      > a {
        .thumbnail {
          position: absolute; 
          left: 100%;
          top: -10px;
          display: none;    
          width: 350px;
          height: auto;
          margin-left: 5px;
        }
        &:hover .thumbnail {
          display: block;    
        }
      }
      > .btn-file-input {
        padding: 3px 20px;
        font-weight: bold;
        &:hover, &:focus {
          background-color: #f5f5f5;
        }
      }
    }
  }
}
