.sidebar {
  .chartbuilder-sidebar-group {
    background: #f8f8f8;
    padding: 10px;
    h2.select-dropdown {
      cursor: pointer;
      &:hover {
        color: $grey;
      }
    }
    .btn-group {
      margin: 0 0 10px;
    }
  }
  .chartbuilder-sidebar-separator {
    border-bottom: 2px groove #e7e7e7;
  }
  .input-group {
    width: 100%;
    margin: 5px 0;
  }
  .chartbuilder-options {
    .panel-heading {
      padding: 15px 15px 0;
    }
    #collapse-advanced-options {
      .panel-body {
        padding: 0;
      }
    }
  }
  [structure-data-input] {
    .panel-body {
      padding: 0;
    }
  }
}
