$fa-font-path: '../bower_components/font-awesome/fonts';
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/Buttons/scss/buttons';
@import '../bower_components/animate-sass/animate';
$icon-font-path: '../bower_components/sass-bootstrap/fonts/';
@import '../bower_components/sass-bootstrap/lib/bootstrap';
@import 'custom_mixins.scss';
@import 'animations.scss';
@import 'home.scss';
@import 'charts.scss';
@import 'sidebar.scss';
@import 'editinplace.scss';
@import 'color-picker.scss';

/* This is your main css file */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Space out content a bit */

body {
    padding-bottom: 20px;
    > .main-content-container {
        margin: 70px 0 0;
    }
    /* Container relative to hold animated content */
    .container {
        .main-content-container {
            position: relative;
         }
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.main-content-container {
  .col-lg-9 {
    position: fixed;
    right: 0;
  }
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
