<div class="row">
	<div class="col-lg-3 sidebar">
		<div class="form-group btn-group btn-group-justified">
			<a role="button" class="btn btn-lg btn-success" ng-click="saveImage()">Save image</a>
		</div>
		<div class="panel panel-default chartbuilder-options">
			<div class="panel-heading">
				<h4><i class="fa fa-wrench"></i> Chart Options</h4>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<select id="chartTypeSelect"
						class="form-control"
						ng-options="type.slug as type.name for (key, type) in modules"
						ng-model="selectedChartType"
						ng-change="changeChartType(selectedChartType)"
						value="type.slug"
						>
						<option value="">Select a chart type</option>
					</select>
				</div>
				<div class="panel-heading">
					<div class="panel-title">
						<h4>
							<a data-toggle="collapse"
								data-target="#collapse-advanced-options"
								href=""
								ng-click="getAdvancedOptions()"
								>
								Advanced Options
							</a>
						</h4>
					</div>
				</div>
				<div id="collapse-advanced-options" class="panel-collapse collapse">
					<div class="panel-body">
			  		<chartbuilder-options json="structureData.options.chart" collapsed-level="1" node="nodeOptions" />
					</div>
				</div>
			</div>
		</div>

		<div class="form-group btn-group btn-group-justified">
			<a role="button" class="btn btn-lg btn-info" ng-click="showSampleData()">Use sample data</a>
			<a role="button" class="btn btn-lg btn-danger" ng-click="resetData()">Reset data</a>
		</div>

		<div structure-data-input
			structure-data="structureData"
			>
		</div>
		<div class="input-group">
				<input type="text" class="form-control" placeholder="Add a data group" ng-model="newDataGroup">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="addGroup()">Add</button>
				</span>
			</div>
		</div>

	<div class="col-lg-9">
		<div class="graph-wrapper">
			<h3><edit-in-place value="structureData.meta.title"></edit-in-place></h3>
			<h5><edit-in-place value="structureData.meta.subtitle"></edit-in-place></h5>
			<div ui-view="graph" id="chart"></div>
			<p><edit-in-place value="structureData.meta.caption"></edit-in-place></p>
		</div>

		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Example Data: </strong>{{ structureData.data | json }}
		</div>
	</div>
</div>
