<div class="col-lg-3 sidebar">
  <div class="chartbuilder-sidebar-group clearfix">
    <div class="col-lg-12">
      <div class="chart-dropdown">
        <button type="button" id="chartTypeSelect" class="btn btn-chart-picker" data-toggle="dropdown">
          <span class="pull-left">{{ (chartbuilderData.name.length ? chartbuilderData.name : 'Select a chart type') }}</span><i class="fa fa-caret-down pull-right"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="chartTypeSelect">
          <li role="presentation" ng-repeat="module in modules" >
            <a ui-sref="chartbuilder.{{ module.slug }}">
              {{ module.name }}
              <div class="thumbnail">
                <img class="img-responsive" src="images/{{ module.slug }}.png">
              </div>
            </a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <chart-options-loader></chart-options-loader>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="alert alert-danger alert-dismissible" role="role" ng-show="chartbuilderError.$error" ng-messages="chartbuilderError.$error">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div ng-message="invaliddata">{{ chartbuilderError.message }}</div>
      </div>
    </div>

    <div class="col-lg-12">
      <h4><i class="fa fa-database"></i> Chart Data</h4>
      <div class="btn-group btn-chartbuilder-group">
        <div class="btn-group">
          <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
            Add Existing Data <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a href="" ng-click="chartbuilderData.showSampleData()">Show sample data</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">TSV or CSV Data</li>
            <li role="presentation">
              <div class="btn-file-input" file-input-button on-file-load="chartbuilderData.loadDataSet(file)">Upload</div>
            </li>
            <li role="presentation">
              <a href="" ng-click="dataInputTextarea = true">Paste</a>
            </li>
          </ul>
        </div>
        <a role="button" class="btn btn-sm btn-default" ng-show="chartbuilderData.data[0].values.length" ng-click="chartbuilderData.downloadCSV()">Download Data as CSV</a>
        <a role="button" class="btn btn-sm btn-default" ng-click="chartbuilderData.resetData()">Clear All Data</a>
        <a role="button" class="btn btn-sm btn-default" ng-click="liveEditPanel = !liveEditPanel" ng-class="{ 'btn-primary': liveEditPanel }">{{ liveEditPanel ? 'Disable' : 'Enable' }} Live Edit</a>
        <a role="button" style="width: 30px" class="btn btn-sm btn-default" ng-show="modules[chartbuilderData.name].dataHelp" ng-click="showDataHelp = !showDataHelp" ng-class="{ 'btn-info': showDataHelp }">?</a>
      </div>
      <dl ng-show="showDataHelp && modules[chartbuilderData.name].dataHelp" class="well well-sm">
        <dt>How to enter data for this chart:<dt>
        <dd>{{ modules[chartbuilderData.name].dataHelp }}</dd>
      </dl>
      <div ng-show="dataInputTextarea" class="panel panel-default">
        <div class="panel-heading">TSV or CSV text<button type="button" class="close pull-right" ng-click="dataInputTextarea = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
        <textarea class="panel-body form-control paste-input" ng-model="dataInputDataSet" placeholder="Paste or edit TSV/CSV data here"></textarea>
        <div class="panel-footer clearfix">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default" ng-click="dataInputDataSet = ''">Clear Input</button>
            <button type="button" class="btn btn-sm btn-success" ng-click="chartbuilderData.loadDataSet(dataInputDataSet)">Use Data</button>
          </div>
        </div>
      </div>
      <structure-data-input ng-show="liveEditPanel" structure-data="chartbuilderData" expand-data="dataInputTextarea">
    </div>

    <div class="col-lg-12">
      <h4><i class="fa fa-bar-chart"></i> Chart Customizations</h4>
      <div class="btn-group btn-group-justified btn-chartbuilder-group">
        <label class="btn btn-sm btn-default" ng-model="chartCustomTab" btn-radio="'Color'">Color / Style</label>
        <label class="btn btn-sm btn-default" ng-model="chartCustomTab" btn-radio="'Basic'">Basic Options</label>
        <label class="btn btn-sm btn-default" ng-model="chartCustomTab" btn-radio="'Advanced'" ng-mouseup="getAdvancedOptions()">Advanced Options</label>
      </div>

      <div ng-show="chartCustomTab === 'Color'" class="well well-sm">
        <div chartbuilder-colors></div>
      </div>

      <div ng-show="chartCustomTab === 'Basic'" class="well well-sm">
        <div class="panel-heading">Basic Chart Options<button type="button" class="close pull-right" ng-click="chartCustomTab = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
        <div class="panel-body chartbuilder-panel-options">
          <chartbuilder-options json="chartbuilderData.options.chart" collapsed-level="1" node="basicOptions" />
        </div>
      </div>

      <div ng-show="chartCustomTab === 'Advanced'" class="panel panel-default">
        <div class="panel-heading">Advanced Configuration Options<button type="button" class="close pull-right" ng-click="chartCustomTab = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
        <div class="panel-body chartbuilder-panel-options">
          <chartbuilder-options json="chartbuilderData.options.chart" collapsed-level="1" node="nodeOptions" />
        </div>
        <div class="panel-heading">Template File Options</div>
        <div class="panel-body">
          <chart-template-options-loader ng-if="!chartbuilderData.env"></chart-template-options-loader>
          <button chart-options-saver ng-if="!chartbuilderData.env" type="button" class="btn btn-default" ng-click="downloadOptionsObject()" name="Save Options Template" ng-attr-options-only="true">save template options</button>
        </div>
      </div>
    </div>

    <div class="col-lg-12 text-center save-chart-group">
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-primary"><i class="fa fa-pie-chart"></i> Save Chart</button>
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><chartbuilder-save-to-png></chartbuilder-save-to-png></li>
          <li chart-options-saver></li>
          <li><chart-options-from-window ng-show="chartbuilderData.env"></chart-options-from-window></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-9">
  <div class="graph-wrapper">
    <h4><edit-in-place value="chartbuilderData.meta.title"></edit-in-place></h4>
    <h5><edit-in-place value="chartbuilderData.meta.subtitle"></edit-in-place></h5>
    <div ui-view="graph" id="chart"></div>
    <p><edit-in-place value="chartbuilderData.meta.caption"></edit-in-place></p>
    <h6>{{ chartbuilderData.meta.attribution }}</h6>
  </div>

  <canvas id="canvas" style="display: none" ng-attr-height="{{ chartbuilderData.options.chart.height }}px"></canvas>

  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Example Data: </strong>{{ chartbuilderData.data | json }}
  </div>

  <textarea id="exportedSVG" ng-model="exportedSVG" ng-show="exportedSVG.length"></textarea>
</div>
