<div class="row">
	<div class="col-lg-8 col-lg-offset-2 page-header">
		<h3>FAQs</h3>
	</div>
	<div class="col-lg-8 col-lg-offset-2">
    <ul class="list-unstyled">
      <li><a ng-click="scrollTo('faq-1')">How do I edit the colors on my Chart?</a></li>
    </ul>
    <div id="faq-1">
      <h4>Editing Colors</h4>
      <p>There are two ways to manage the colors in your chart. The first is by using the <strong>Color / Style</strong> tab in <strong>Chart Customizations</strong>. You can use the spectrum color picker to choose a color, or you can paste hex values into the text box. The colors in the palette can be reordered by dragging and dropping the color boxes, or by using the reverse palette button.</p>
      <p>The second option is for charts that have series data, like the Line Chart. In the <strong>Live Edit Data Tables</strong> window, there will be a swatch where you can pick a color from the default palette. It will override any values in the <strong>Color / Style</strong> tab.</p>
    </div>
	</div>
</div>
