
<div class="chartbuilder-home">
  <div class="row">
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.lineChart"><img src="images/cumulativeLineChart.png" /></a>
    </div>
    <div class="col-lg-4 jumbotron">
        <h1>angular + d3 chartbuilder</h1>
        <div class="dropdown">
          <h2 id="chartTypeSelect" class="btn btn-default" data-toggle="dropdown">
            {{ (chartbuilderData.name.length ? chartbuilderData.name : 'Start building a chart now') }} <i class="fa fa-caret-down"></i>
          </h2>
          <ul class="dropdown-menu" role="menu" aria-labelledby="chartTypeSelect">
            <li ng-repeat="module in modules" >
              <a ui-sref="chartbuilder.{{ module.slug }}">{{ module.name }}</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.discreteBarChart"><img src="images/discreteBarChart.png" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.map"><img src="images/map.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.pieChart"><img src="images/donutChart.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.lineChart"><img src="images/lineChart.png" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.stackedAreaChart"><img src="images/stackedAreaChart.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.scatterChart"><img src="images/scatterChart.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.multiBarChart"><img src="images/multiBarChart.png" /></a>
    </div>
  </div>
</div>
