<div class="chartbuilder-home">
	<div class="row">
		<div class="col-lg-4">
			<img src="/images/cumulativeLineChart.png" />
		</div>
		<div class="col-lg-4 jumbotron">
				<h1>angular + d3 chartbuilder</h1>
				<p class="lead">Start building a chart now</p>
				<p><a class="btn btn-lg btn-success" ui-sref="chartbuilder">Go</a>
				</p>
		</div>
		<div class="col-lg-4">
			<img src="/images/discreteBarChart.png" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<img src="/images/donutChart.png" />
		</div>
		<div class="col-lg-4">
			<img src="/images/historicalBarChart.png" />
		</div>
		<div class="col-lg-4">
			<img src="/images/lineChart.png" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<img src="/images/stackedAreaChart.png" />
		</div>
		<div class="col-lg-4">
			<img src="/images/scatterChart.png" />
		</div>
		<div class="col-lg-4">
			<img src="/images/multiBarChart.png" />
		</div>
	</div>
</div>
