<div class="chartbuilder-home">
  <div class="row">
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.lineChart"><img src="images/cumulativeLineChart.png" /></a>
    </div>
    <div class="col-lg-4 jumbotron">
        <h1>angular + d3 chartbuilder</h1>
        <p class="lead">Start building a chart now</p>
        <p><a class="btn btn-lg btn-success" ui-sref="chartbuilder">Go</a>
        </p>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.discreteBarChart"><img src="images/discreteBarChart.png" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.map"><img src="images/usaMap.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.pieChart"><img src="images/donutChart.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.lineChart"><img src="images/lineChart.png" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.stackedAreaChart"><img src="images/stackedAreaChart.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.scatterChart"><img src="images/scatterChart.png" /></a>
    </div>
    <div class="col-lg-4">
      <a href ui-sref="chartbuilder.multiBarChart"><img src="images/multiBarChart.png" /></a>
    </div>
  </div>
</div>
