<div class="panel panel-default">
  <div class="panel-heading"><strong>Live Edit Data Tables</strong><button type="button" class="close pull-right" ng-click="liveEditPanel = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
    <div class="panel-body">
      <div class="panel-group" id="accordion" ng-model="chartbuilderData.data" ui-sortable>
        <div class="panel panel-default panel-chartbuilder-table"
          ng-repeat="group in groupedData"
          ng-init="groupParent = groupedData"
          >
          <div class="panel-heading data-group-title-heading">
            <div class="panel-title">
              <div class="clearfix">
                <div class="pull-left">Data Group {{ $index + 1 }}: </div>
                <edit-in-place class="pull-left" value="group.key" type="text"></edit-in-place>
                <a data-toggle="collapse"
                  data-parent="#accordion"
                  data-target="#collapse-{{ $index }}"
                  href=""
                  ng-click="dataGroupBox[$index] = !dataGroupBox[$index]"
                  >
                  <i class="fa pull-right {{ dataGroupBox[$index] ? 'fa-caret-up' : 'fa-caret-down' }}"></i>
                </a>
              </div>
              <a ng-if="chartbuilderData.data.length > 1" ng-click="chartbuilderData.removeDataGroup($index)"><small>Delete this group</small></a>
            </div>
          </div>
          <div ng-if="chartbuilderData.slug === 'lineChart' || (chartbuilderData.slug === 'multiBarHorizontalChart' && chartbuilderData.data.length > 1)" class="panel-heading">
            <div class="panel-title">
              <div class="clearfix">
                <h6 class="pull-left">Area Fill</h6>
                <div class="btn-group pull-right" ng-model="group.area" ng-click="group.area = !group.area">
                  <button type="button" class="btn btn-xs" ng-class="{ active: group.area, 'btn-primary': group.area, 'btn-default': !group.area }">On</button>
                  <button type="button" class="btn btn-xs btn-default" ng-class="{ active: !group.area, 'btn-primary': !group.area, 'btn-default': group.area }">Off</button>
                </div>
              </div>
            </div>
            <div class="panel-title">
              <div class="clearfix">
                <h6 class="pull-left">Series Color (Optional)</h6>
                <div class="color-picker pull-right">
                  <spectrum-colorpicker
                    trigger-id="series-{{ $index }}-color-picker"
                    ng-model="group.color"
                    options="{
                      showPaletteOnly: true,
                      showPalette: true,
                      hideAfterPaletteSelect: true,
                      allowEmpty: true,
                      palette: chartbuilderData.colors
                    }"
                    format="'hex'"
                    class="color-box"
                    >
                  </spectrum-colorpicker>
                </div>
              </div>
            </div>
          </div>
          <div id="collapse-{{ $index }}" class="panel-collapse collapse" ng-class="{ in: ($index === 0 && !dataInputTextarea) }">
            <div class="panel-body">
              <live-data-table />
            </div>
          </div>
          <div class="panel-footer" ng-if="chartbuilderData.slug === 'scatterPlusLineChart'">
            <form class="form-inline" role="form">
              <div class="form-group">
                <div class="input-group">
                  <label class="sr-only" for="groupSlope{{ $index + 1 }}">Slope</label>
                  <div class="input-group-addon">Slope</div>
                  <input type="number" class="form-control" id="groupSlope{{ $index + 1}}" ng-model="group.slope"></input>
                </div>
                <div class="input-group">
                  <label class="sr-only" for="groupIntercept{{ $index + 1 }}">Intercept</label>
                  <div class="input-group-addon">Intercept</div>
                  <input type="number" class="form-control" id="groupIntercept{{ $index + 1}}" ng-model="group.intercept"></input>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add a data group" ng-model="newDataGroup" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="addGroup()">Add</button>
        </span>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="duplicateGroup()">Duplicate Last Group</button>
        </span>
      </div>
    </div>
  </div>
</div>
